.container {
  display: flex;
  flex-direction: column;
  font-size: 18px;

  text-align: center;
}
.card {
  margin: 5px;
  padding: 10px;
  background-color: rgb(233, 227, 227);
  border-radius: 50px;
  box-shadow: 5px 7px rgb(199, 201, 202);
}
.input-container {
  border-radius: 8px;
  padding: 3px;
}

div button {
  border-radius: 8px;
  padding: 3px;
  width: 15%;
  background-color: rgb(169, 210, 246);
  font-weight: bold;
}
.card-content {
  display: inline-flex;
  flex-direction: column;
}

#table1 {
  margin-left: 50px;
}
